body {
direction: rtl;
font-family: 'Varela Round', Tahoma;
padding: 100px;
background-image: url('../img/backgroundForAboutUs.jpg');
background-repeat: no-repeat;
background-size: cover;


}

div {
width:700 px;
margin-left: auto;
margin-right: auto;
direction: rtl;
border-width: 2px;
border-style: dashed;
border-color: black;
font-size: 20px;
margin-top: 30px;
}

h1 {
color:pitch;
margin-top: 0px;
text-align: center;
}

footer {
width: 700px;
text-align: center;
margin-left: auto;
margin-right: auto;
margin-top: 30px;
margin-bottom: 30px;
}