body {
    direction: rtl;
    background:#eeffee url('../img/background5.jpg') no-repeat left top;
    font-family: 'Varela Round', sans-serif;

}
{
    margin:0; paddiing:0;
}
a{
    color:#808080;
}
a:hover{
    text-decoration: none;
}
img{
    border:none;
}
.product-view{

}
    .container{
        overflow: hidden;
    }
        .product-galery{
            padding: 0 75px;
            float: left;
            width: 100%;
            max-width: 500px;
            }
        .product-galery p{
             text-alaing:center; font: bold 9px/1.3 tahoma;  color: coral;

        }

            .product-info h2{
                text-alaing:center; font: bold 14px/1.3 tahoma; margin: 0 0 15px 0; color: coral;
                margin-bottom: 40px;
            }
        .product-info h3{
            text-alaing:center; font: bold 10px/1.3 tahoma; margin: 0 0 15px 0; color: black;
            margin-bottom: 40px;
        }
    .product-info p{
        line-height: 3px;
        color: lightblue;
    }